//Global Styles Start
body {
  font-family: $text-font !important;
  color: $text-color;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 0;
  overflow-x: hidden;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: $title-color;
  font-family: $heading-font !important;
}

a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
    outline: 0;
  }
}

::-moz-selection {
  background: $brand-primary;
  color: #fff;
  text-shadow: none;
  outline: none;
}

::selection {
  background: $brand-primary;
  color: #fff;
  text-shadow: none;
  outline: none;
}

p {
  span {
    color: $brand-primary !important;
  }
}

.gradient-bg {
  background: $brand-primary;
  background: -webkit-linear-gradient(to right, $brand-primary, $brand-primary2);
  background: linear-gradient(to right, $brand-primary, $brand-primary2);

}

input::placeholder {
  color: #232323;
}
//FontAwesome override start
.fa-ul {
  li {
    padding: 5px 0;

    .fa-li {
      margin-top: 8px;
      color: $brand-primary;
    }
  }
}

//FontAwesome override end

//Global Styles End
