$brand-primary: #A34FF2;
$brand-primary2: #5046F0;
$text-color: #232323;
$title-color: #222;

$white: #ffffff;
$black: #000;

$heading-font: "museo-sans", sans-serif;
$text-font: "Poppins", sans-serif;
$fontawesome: "FontAwesome";
