
@import "variable";
@import "global-styles";
@import "navbar";

//--------------------------------------
// Start Top Header Section
//--------------------------------------
.top-header-section {
  
}

.page-title-section {
  background-color: #fbfbfb;
}

.tips-image {
  //display: flex;
  flex-wrap: wrap;

  li {
    //width: 50%;

    img {
      width: 100%;
    }
  }
}


.photo-gallery-section {
  background-color: #fbfbfb;
}

.gallery-wrapper {
  overflow: hidden;
  position: relative;
  margin: 0 auto;

  li {
    &:nth-child(2n+1) {
      margin-top: 7rem;
    }

    img {
      width: 100%;

      &:first-child {
        margin-bottom: 2rem;
      }
    }
  }
}

.wrap {
  margin: 0 auto;


  &--logobar {
    overflow: hidden;
    position: relative;
  }
}

.list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-left: 0;

  &__item {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 20px;
    text-align: center;
    width: 25%;
  }
}

@media (min-width:768px) {

  .nav-item {
    .dropdown-item {
      display: none;
    }
    &.dropdown {
      > a:after {
        content: "\f107";
        font-family: $fontawesome;
        margin-left: 3px;
      }
      &:hover {
        .dropdown-item {
          display: block;
        }
      }
      
    }
  }

  .dropdown-item {
    position: absolute;
    width: 250px;
    background: $brand-primary;
    background: -webkit-linear-gradient(to right, $brand-primary, $brand-primary2);
    background: linear-gradient(to right, $brand-primary, $brand-primary2);
    top: 40px;
    left: 0;
    padding: 20px;

    a {
      color: #fff;
      font-size: 16px;
    }
  }
  
}

@media (min-width:768px) and (max-width:1199px) {
  .gallery-wrapper {
    li {
      &:nth-child(2n+1) {
        margin-top: 3rem;
      }
    }
  }

  .list {
    &__item {
      width: 33%;
    }
  }
}

@media (max-width:767px) {
  .gallery-wrapper {
    li {
      &:nth-child(2n+1) {
        margin-top: 1rem;
      }
    }
  }

  .list {
    &__item {
      width: 50%;
    }
  }

  .nav-wrapper {
    display: none;
    &.show {
      display: block;
      background: $brand-primary;
      background: -webkit-linear-gradient(to right, $brand-primary, $brand-primary2);
      background: linear-gradient(to right, $brand-primary, $brand-primary2);
      position: absolute;
      top: 100%;
      width: 100%;
      left: 0;
      padding: 20px 30px;
    }
  }

  .dropdown-item {
    a {
      font-size: 16px;
    }
  }
}

.black-bg {
  background: #232323;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  z-index: -1;
}


